.user-content {
    width: 250px;
    margin-bottom: 40px;
    padding: 20px 0px;

    border: 1px solid black;
    border-radius: 10px;
}

.user-content img#avatar {
    width: 99px;
    height: 99px;
    margin-left: 75px;
    margin-bottom: 20px;

    border: 1px solid black;
    border-radius: 70px;
}

.user-content button {
    width: 35px;
    height: 35px;

    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 20px;

    position: absolute;
    top: 370px; left: 255px;

    cursor: pointer;
    transition: all .1s;
}

.user-content button:hover {
    transform: scale(1.1);
}

.user-content button:active {
    transform: translateY(2px);
}

.user-content button img {
    width: 65%;
    height: auto;
}

.user-content p {
    font-weight: 400;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
}