
EditoraAPI/.vs/EditoraAPI/v16/Server/sqlite3/storage.ide
EditoraAPI/.vs/EditoraAPI/v16/Server/sqlite3/storage.ide-shm
EditoraAPI/.vs/EditoraAPI/v16/Server/sqlite3/storage.ide-wal
EditoraAPI/.vs/EditoraAPI/v16/.suo
