.editBook-wrapper {
    display: flex;
    background-color: rgb(32, 32, 32);
}

.editBook-container {
    width: 100%;
    margin-top: 40px;

    font: 400 18px 'Poppins', arial, sans-serif;
    color: white;
}

.editBook-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.editBook-data {
    margin: auto 40px;
    padding: 20px 20px;

    /* background-color: rgb(245, 245, 245);
    border: 1px solid rgb(206, 206, 206); */
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.editBook-data form {
    display: flex;
    flex-direction: column;
}

.editBook-data form ul.section.item-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.editBook-data form ul.section.item-1 input {
    width: 300px;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;

    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    border-color: rgb(83, 83, 83);
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
}

.editBook-data #pagSeguro {
    font-size: 14px;
}

.editBook-data #pagSeguro::placeholder {
    font-size: 13px;
    font-weight: 300;
}

 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.editBook-data form ul.section.item-1 input:focus {
    box-shadow: 0px 0px 7px rgb(0, 153, 255);
}

.editBook-data form ul li {
    display: flex;
    flex-direction: column;
}

.editBook-data label {
    margin-bottom: 10px;
}

.editBook-data span {
    color: rgb(226, 68, 68);
}

.editBook-data select {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 17px;
    border-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
}

.editBook-data select:focus {
    box-shadow: 0px 0px 7px rgb(0, 153, 255);
}

.editBook-data option {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    
    font-size: 18px;
    border-radius: 10px;
}

.editBook-data form ul.section.item-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    gap: 20px;
}

.editBook-data form ul.section.item-2 textarea {
    max-width: 500px;
    min-height: 260px;
    resize: none;
    padding-left: 5px;

    color: white;
    font: 400 16px 'Poppins', arial, sans-serif;
    border-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    text-align: justify;
}

.editBook-data form ul.section.item-2 textarea:focus {
    box-shadow: 0px 0px 7px rgb(0, 153, 255);
}

.editBook-data #imagem-container {
    margin-top: 4px;
}

.editBook-data #imagem-container #label-imagem {
    margin-bottom: 7px;
}

.editBook-data #imagem-livro {
    width: 500px;
    height: 270px;

    background: center no-repeat;
    background-size: contain;
    border: 3px dashed rgb(51, 51, 51);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/* .editBook-data #imagem-livro:hover {
    border-color: rgb(0, 153, 255);
} */

.editBook-data input[type="file"] {
    display: none;
}

/* .editBook-data .has-image:hover {
    border-color: rgb(51, 51, 51);
} */

.editBook-data .has-image img {
    display: none;
}

.editBook-data button {
    width: 200px;
    height: 40px;
    margin: 40px auto 10px;

    font: 300 16px 'Poppins', arial, sans-serif;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: rgb(80, 103, 207);

    cursor: pointer;
}

.editBook-data button:hover {
    background-color: rgb(54, 74, 161);
}

.editBook-wrapper .editPopUp {
    width: 400px;
    height: 200px;
    margin: 140px auto 0px 620px;
    padding-top: 30px;

    color: white;
    background-color: rgba(68, 68, 68, 0.8);
    border-radius: 10px;

    text-align: center;
    position: fixed;
    top: 0px; right: 0px; left: 0px; bottom: 0px;

    display: none;
}

.editBook-wrapper .editPopUp h1 {
    margin: 0px;
    margin-top: 10px;

    font: 500 20px 'Poppins', arial, sans-serif;
}