.selectBook-wrapper {
    display: flex;
}

.selectBook-container {
    width: 100%;
    margin: 30px auto auto 60px;

    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

.selectBook-container h1 {
    font-size: 24px;
}

.selectBook-container ul {
    margin-top: 30px;

    list-style: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.selectBook-container ul li {
    width: 190px;
    padding-bottom: 10px;
    
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    background-color: rgb(62, 86, 136);
}

.selectBook-container ul li:hover {
    transform: translateY(-2px);
    border: none;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.selectBook-container ul li:active {
    transform: translateY(2px);
    box-shadow: none
}

.selectBook-container ul li a {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectBook-container ul li img {
    width: 190px;
    height: 252px;
    
    border-radius: 10px 10px 0px 0px;
}


.selectBook-container ul li h2 {
    margin-top: 10px;

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
}