@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700&display=swap');


.contact-container {
    max-width: 100%;
    min-height: 44vh;
    margin-bottom: 100px;

    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.contact-container h1 {
    font-weight: 600;
    color: rgb(10, 61, 71);
}

.contact-container h2 {
    margin-top: 15px;

    font-size: 20px;
    font-weight: 400;
    color: rgb(65, 65, 65);
}

.contact-container p {
    margin-top: 50px;

    font-size: 28px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.contact-container .contact-background {
    width: 90%;
    max-width: 1200px;
    
    margin: 20px auto;
    padding: 20px 0px 30px;

    background: #d4e4e2;
}

@media (max-width: 700px) {
    
    .contact-container h1 {
        font-size: 24px;
    }

    .contact-container h2 {
        font-size: 18px;
    }

    .contact-container p {
        margin-top: 30px;
        font-size: 18px;
    }

    .contact-container .contact-background {
        padding: 20px 5px 20px;
    }
}