@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap');

/* Define o tamanho do Header */
.main-header {
    width: 100%;
    margin-top: 30px;
}

/* Div da logo */
.header-logo {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Redimensiona a logo */
.main-header .header-logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header a img {
    width: 55%;
    min-width: 260px;
    height: auto;
    transition: all .2s;
}

.main-header a img:active {
    transform: scale(1.02);
}

/* Div da linha */
.line-container {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.header-line {
    width: 90%;
    max-width: 850px;
    height: 1px;
    
    border-radius: 10px;
    background-color: rgb(28, 153, 146);
}

.menu-container {
    width: 100%;
    height: 60px;
    margin-bottom: 70px;
}

.menu-navbar {
    width: 90%;
    max-width: 700px;
    margin: auto;

    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-navbar .item a {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #535151;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-navbar .item a:hover {
    color: #309AAC;
}

@media (max-width: 500px) {
    .header-line {
        width: 95%;
    }

    .menu-navbar {
        width: 95%;
    }
    .menu-navbar .item a {
        font-size: 12px;
    }
}