@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,700&display=swap');

/* Delimitador de área do input de busca */
.search-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Parte visual do input */
.search-container {
    box-sizing: border-box;
    max-width: 370px;
    height: 40px;
    border: 1px solid #309AAC;
    border-radius: 15px;
    overflow: hidden;
    transition: all .2s;
}

.search-container:active {
    transform: scale(1.02);
}

/* Alinhamento dos elementos do input */
.search-container form {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* Stilização dos elementos do input */
.search-input {
    width: 80%;
    border: none;
    background-color: transparent;
    padding-left: 15px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(60, 60, 60);
}

.search-input::placeholder {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
}

/* Ajuste do botão de busca */
.search-container form a {
    width: 60px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;

    background-color: #309AAC;
    cursor: pointer;
    transition: all .2s;
}

.search-container form a:hover {
    background-color: rgb(36, 112, 126);
    transform: scale(1.1);
}

/* Ajuste da imagem da lupa */
.search-container form a img {
    width: 32%;
    height: auto;
}


.allBooks-wrapper {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.allBooks-wrapper h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 30px;
}

.allBooks-Container {
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 50px;
    background-color: rgba(255, 191, 191, 0.74);
}

.allBooks-Container ul {
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.allBooks-Container ul li {
    max-width: 250px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.allBooks-Container ul li a img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.allBooks-Container ul li h2 {
    font: italic 400 18px 'Poppins', sans-serif;
    color: #494646;
    margin-bottom: 22px;
}

.allBooks-Container ul li p {
    font: italic 400 20px Bahnschrift, Arial, sans-serif;
    color: #309AAC;
}

.allBooks-Container ul li button {
    margin: 30px auto 10px;
    width: 200px;
    height: 33px;
    padding: 0px 11px;

    border-radius: 15px;
    border: none;

    font: 300 10px 'Poppins', Arial, sans-serif;
    color: #309AAC;
    background-color: white;

    display: flex;
    align-content: center;
    justify-content: space-between;

    cursor: pointer;
    transition: all .1s;
}

.allBooks-Container ul li button:hover {
    transform: translateY(-1px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.allBooks-Container ul li button:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    outline: none;
}

.allBooks-Container ul li button p {
    padding-top: 6px;
    font: 300 14px 'Poppins', Arial, sans-serif;
    color: rgb(56, 56, 56);
}

.allBooks-Container ul li button img {
    width: 10%;
    height: auto;
}












